doctype html
html(lang='en')
  head
    style(type='text/css').
      body {
        background: #e7e7e7;
        font-family: courier, monospace;
      }
      .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
      .clearfix {
        display: inline-block;
      }
      html[xmlns] .clearfix {
        display: block;
      }
      * html .clearfix {
        height: 1%;
      }
      .title {
        font-size: 20px;
      }
      .author {
      font-size: 14px;
      }
      .contents {
        background: black;
        font-size: 14px;
        color: white;
        padding: 10px;
      }
  body
    div.title.clearfix
      | Project:
      =project
      br
      | Branch:
      =branch
    br
    div.author.clearfix
      | Author: 
      =author
    br
    div.author.clearfix
      | Commit:
      div.contents
        =commit  
    div.contents
      | Runner output:
      div.contents
        =commit  